#canvas{
	/* min-height: 100vh;
	right: 150px;
	display: flex;
	align-items: center;
	justify-content: center; */
    background-color: rgb(255,255,230);
	box-shadow: 25px 45px 50px black;
	border-radius: 5%;  
}
body{
	min-height: 105vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:white ;
	text-align: center;
	 overflow: hidden;
}
.title{
	margin-top: 0px;
	font-size: 100px;
	color:#FDFEFE;
	font-family: 'Chicle', cursive;
}

.scoreBoard{
	/* top: 1px; */
	font-size: 30px;
	color:#FDFEFE ;
	font-family: 'Chicle', cursive;
	position: absolute;
}

h3{
	 display: inline-block;
	  margin-right: 100px;
	  text-align: center;
	   top:100px;
	   margin-bottom: 800px;
	  color: red;
}

img{
	width:35px;
}

img:hover{
	width:37px;
	margin-left:-2px;
}